/* Log in */

h1 {
    color: #f6a800;
    font-family: fantasy;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 12%
}


.register {
margin-top: 40px;
}

.a-register {
    color: #f6a800;
}

.forgot-text-row {
    margin-top: 1%;
}

.a-login {
    color: #fafafa;
}

.btn {
    border-radius: .0rem;
    padding: 9px;
}

.password { 
    margin-top: 0.115%;
}

.form-control {
    border: 0px solid #ced4da;
    border-radius: .0rem;
    padding: 9px;
}

.logo {
    margin-top: 20%;
}

.log-in{
    background-color: #3e3f41;
    height: 100vh;
    width: 100vw;
}


.login-page {
    margin-top: 50px;
}

.register-page {
    margin-top: 50px;
    display: none;
}

p {
    margin: 0;
    color: #777777;
}

.panel 
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 70%;
}

.register-none {
    display: none;
    }
    

/* SIDEBAR */

.menu{
    position: absolute;
    top:0;
    height: 100vh; /* viewport height, usa el 100% de la altura de la pantalla*/
    width: 90vw;  /* viewport width 90% del an*/
    transition: 0.5s ease-out;
    z-index: 2;
}

.a-nav{
    color: #f6a800;
}

.navbar {
    margin: 0px -45px 0px -15px;
}

.menu_closed{
    left: -90vw;
   
}

.menu_open{
    left: 0;
    z-index: 2;
}

.close_button{ /* configurando boton de cierre del navbar*/
    font-size: xx-large;
    color: #f6a800;
    position: absolute;
    right: 10px;  
                    
}

.menu_content{
    padding: 10px;
    margin-top: 20px;
   
}

.color-side{
    background-color: white;
}

@media(min-width: 768px){ /* esta medida se encuentra en bootstrap-> overview-> responsive breakpoints */
    .menu{
        width: 20vw; /*El menú va a tomar este ancho con pantallas de 768px hacia arriba*/
    }

    .menu_closed{
        left:-20vw;
    }
}

/* logged */

.select-bip {
    padding: 0px;
}

body {
    background-color: #dddee0;
    margin: 0%;
    border: 0px;
}

h6{
    text-align: center;
    color: white;
}
.bip-code{
    background-color: white;
    margin: 20px 101px 0px 61px;
    text-align: center;
} 
.btn-warning {
    color: #777777;
    background-color: #f6a800;
    border-color: #f6a800;
}
.input-add-bip {
    margin: 15px 28px 11px 19px;
}

.btn-add-bip{
    margin: 20px 88px 0px 74px;
}

.get-residue-none{
    display: none;
}
.perfil-add-bip-none{
    display: none;
}

.logged-none{
    display: none;
}

.perfil-photo{
    background-color: #f6a800;
    height: 188px;
    margin: 0px -30px 0px -30px;
}

.email-perfil{
    height: 36px;
    background-color: white;
    /* align-content: center; */
    margin: 0px -20px 11px 35px;
}

.header-trans {
    background-color: #3e3f41;
    color: #fafafa;
    margin: 0;
    padding-top: 2px;
  }

h4 {
    text-align: center;
}

/* Obtener saldo */
.get-residue-section{
    padding: 20px 10px;
}

.btn-get-residue{
    margin: 55px 38px 38px 97px;

}

.input-key-bip{
    margin-top: 50px;
}

.total-residue{
    background-color: #ffc107;
    margin: 0px 0px;
    height: 116px;
}

.total-residue-title{
    background-color: #3e3f41;
    color: white;
    text-align: center;
    margin: 0px 0px;
}

.residue{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 25px;
    color: #3e3f41;
}
