body {
    background-color: #dddee0;
}

.header {
    background-color: #3e3f41;
    color: #fafafa;
    margin: 0;
    padding-top: 2px;
  }

h4 {
    text-align: center;
}

.get-residue-section{
    padding: 20px 10px;
}

.btn-get-residue{
    margin-top: 25px;
    margin-left: 97px;
}

.input-key-bip{
    margin-top: 50px;
}

.total-residue{
    background-color: #ffc107;
    margin: 0px 27px;
    height: 116px;
}

.total-residue-title{
    background-color: #3e3f41;
    color: white;
    text-align: center;
    margin: 0px 27px;
}